body{        
    padding-top: 60px;
    padding-bottom: 150px;
    background-color: rgb(255, 255, 255)
}

p{
    font-size: 30px;
}
h1{
    font-size: 50px;
    text-align: center;
}

div {
    display: block;
    justify-content: space-between;
  }
i {
    font-size: 30px;
    font-style: italic;
    font-weight: 10em;
    color: gray;
  }

#Banner{
    border-bottom: 4px solid rgb(0, 0, 0);
}
#MainSideBarButton{
    float: left;
}

#Sidebar{
    width: 15%;
    display: block;
}
#Temperature{
    font-size: 100px;
    padding: 50px;
    text-align: center;
}

#SideBarClose{
    padding: 19px;
    font-size: x-large;
}

#CardHolder{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-evenly;
}