    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }

      h1 {
        text-align: center;
        color: #333;
        margin-top: 50px;
      }

      form {
        width: 350px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="password"] {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 20px;
      }

      button{
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background-color: #666;
      }